.main > h2 {
    font-size: 2.5vw;
    margin-top: 2.5vw;
    margin-left: 7.5vw;
    font-weight: bold;
}

.shelf {
    scroll-padding-left: 7.5vw;
    scroll-padding-right: 5vw;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}
.shelf > div {
    scroll-snap-align: start;
}

.flash {
    animation: flash 250ms linear infinite alternate;
}
@keyframes flash {
    from { filter: brightness(300%) drop-shadow(0 0 0.17vw #ffffff); }
    to { filter: brightness(300%) drop-shadow(0 0 0.05vw #ffffff); }
}
